@model PasswordResetVM

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {
            <div class="alert alert-info">Şifre yenileme linki e-posta adresine gönderildi.</div>
        }
        else
        {
            <h4>Şifremi Unuttum</h4>
            <hr />
            <div class="alert alert-info">
                Yeni şifre belirlemek için e-posta adresini girin.
                Şifre değiştirme linki e-postanıza gönderilecek.
            </div>
            <hr />
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gönder" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>
