@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

@*<h1 class="text-center">Bu sayfaya erişim izniniz yoktur. Erişim izni almak için site yöneticisiyle görüşünüz.</h1>*@
<div class="alert alert-danger">
    Bu sayfaya erişim izniniz yoktur. Erişim izni almak için site yöneticisiyle görüşünüz.
</div>

